BROWSER=none
EXTEND_ESLINT=
FAST_REFRESH=
PORT=
REACT_APP_BACKEND_API_URL=
# REACT_APP_BACKEND_API_URL=
REACT_APP_AWS_USER_POOL_ID=
REACT_APP_AWS_COGNITO_REGION=
REACT_APP_AWS_COGNITO_CLIENT_ID=
REACT_APP_DOMAIN=
REACT_APP_X_CSCAPI_KEY=
REACT_APP_S3_URL=

# Stripe 
REACT_APP_STRIPE_PUBLIC_KEY=

# LAB address
REACT_APP_RETURN_ADDRESS=
REACT_APP_LANDING_PAGE_DOMAIN=
REACT_APP_LANDING_PAGE_PROTOCOL=
REACT_APP_DEFAULT_SUBDOMAIN=

# ON/OFF SETTING HOME PAGE RULE
REACT_APP_SETTING_HOME_PAGE_RULE=

# SHOPIFY
REACT_APP_SHOPIFY_ON_BUY_PRODUCT=
REACT_APP_SHOPIFY_URL_BUY_PRODUCT=
REACT_APP_SHOPIFY_URL_BUY_PROBIOTIC=

REACT_APP_ENV=

